body {
	background-color: white;
}

li {
	color: blue;
}
#centered-text {
	text-align: center
	/*vertical-align: center;
	/*box-align: right;
	*/
}

#cool-gif {
	width: 1000px;
}
#cool-png {
	width: 10px;
}
